@import (css) "./iconfont.css";
:root {
  // --vp-home-hero-name-color: red;
}

.VPHome {
  .VPHomeFeatures {
    .container {
      .items {
        .item {
          .VPFeature {
            .box {
              align-items: center;
              .VPImage {
                height: 160px;
                width: auto;
              }
            }
          }
        }
      }
    }
  }
}
.VPContent {
  display: flex;
  justify-content: center;
}
@media (min-width: 1440px) {
  .VPNavBar.has-sidebar {
    .title:not(a) {
      padding-left: 32px !important;
      width: var(--vp-sidebar-width) !important;
    }
    .content {
      padding-left: var(--vp-sidebar-width) !important;
      padding-right: 32px !important;
      .curtain {
        width: calc(100% - var(--vp-sidebar-width)) !important;
      }
    }
  }
  .VPSidebar {
    padding-left: 32px !important;
    width: var(--vp-sidebar-width) !important;
  }
  .VPContent.has-sidebar {
    padding-left: var(--vp-sidebar-width) !important;
    padding-right: 0px !important;
    .VPDoc.has-aside {
      .content-container {
        max-width: none !important;
      }
    }
  }
}

.vp-doc [class*="language-"] > button.run {
  width: 40px;
  height: 40px;
  background-color: var(--vp-code-block-bg);
  font-size: 24px;
  opacity: 0;
  position: absolute;
  z-index: 3;
  top: 8px;
  right: 56px;
  direction: ltr;
  &:hover {
    background-color: var(--vp-code-copy-code-hover-bg);
  }
}
.vp-doc [class*="language-"]:hover > button.run {
  opacity: 0.7;
}
.vp-doc [class*="language-"]:hover > button.run:hover {
  opacity: 1;
}
